* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(35, 34, 34);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
