---
import Ebadge from "./Ebadge.astro";
const{title, img, shape, explicit } = Astro.props;
---

<article>
    <img class= {shape} src= {img} alt=""/>
    <h3>{title}</h3>
    <p> 
        { explicit && (<Ebadge/>)}
        Subtitle</p>
</article>

<style>
    .round{
        border-radius: 999px;
    }
</style>